body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.dashboard-container {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
}


.header {
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 100px;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.title {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.button-container {
    display: flex;
    justify-content: center; /* Center the button row horizontally */
    align-items: center;
    margin-top: 1rem; /* Add some top margin */
  }
  
  .button-row {
    display: flex;
  }
  
  .change-button {
    margin: 0 0.5rem; 
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #bb271a;
    font-family: 'Garet', sans-serif;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
  }
  
  .change-button:hover {
    background-color: #991f15;
  }
  
