.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-canvas {
  border: 2px solid #000;
  background-color: #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.game-wrapper {
  text-align: center;
}

.score, .high-score {
  margin-bottom: 10px;
}

.game-over {
  margin-top: 20px;
}
