#GameBoard {
  position: relative;
  margin: auto;
  background-color: gainsboro;
  border-radius: 5px;
  overflow: hidden;
}

.Block {
  position: absolute;
  width: calc(100% / 30);
  height: calc(100% / 20);
}

#GameBoard:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

#GameBoard:after {
  content: "";
  position: absolute;
  width: calc(100% / 30);
  height: calc(100% / 20);
  background: rgba(255, 255, 255, 0.1);
}


.Block:before {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

#Score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #EFEFEF;
}

#GameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
}

#GameOverText {
  color: red;
  font-weight: bold;
  font-family: 'Garet', sans-serif; 
  font-size: 40px;
  letter-spacing: 2px;
}

#PressSpaceText {
  margin-top: 50px;
  color: blue; 
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}

.score-container {
  margin-top: 20px;
  font-size: 24px;
  font-family: 'Garet', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  letter-spacing: 2px;
}

.score {
  margin: 0 20px;
  padding-bottom: 20px;
}
